. {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(4, 43, 37);
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: ;
}
header {
  background-color: rgb(231, 207, 215);
  font-style: obliqu;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 10px;
  margin: 10px;
  max-height: 100px;
}
img {
  padding: 5px;
  border: 2px black solid;
  border-radius: 50%;
}
.header-name {
  justify-self: center;
  align-self: cente;
  word-spacing: 5px;
  font-style: italic;
  margin: 20px;
}
main {
  font-style: italic;
  margin-top: 100px;
}
section {
  display: flex;
  flex-direction: column;
  background-color: seashell;
  margin: 10px;
  padding: 20px;
  height: 100%;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(230, 211, 220);
  margin: 10px;
  padding: 10px;
  grid-area: sidebar;
  grid-row: span 3;
  grid-column: span 1;
  height: 100%;
  font-style: italic;
  text-justify: distribute-all-lins;
  padding: 10px;
  text-align: center;
}
.list {
  list-style-type: none;
  padding: 0px;
  margin: 50px;
  line-height: 20px;
}
@media only screen and (max-width: 400px) {
}
